html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : (--text-gray-1);
  font-size              : 1rem;
}

:root {
  --green      : #497D3B;
  --white      : #fff;
  --text-gray-1: #4a4a4a;
  --bg-gray-1  : #eee;
  --yellow-1   : #ffcc40;
}

.flex-bw-center {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.link-default {
  color          : var(--text-gray-1);
  text-decoration: none;
  transition     : all 0.3s;

  &:hover {
    color: var(--green);
  }
}