:root {
  --body-bg      : #eaebec;
  --green        : #497D3B;
  --white        : #fff;
  --text-gray-1  : #4a4a4a;
  --border-gray-1: #bbcdd2;
  --bg-gray-1    : #eee;
  --yellow-1     : #ffcc40;
  --green-hover  : #5b9f49;
  --bg-bot-form  : #fafbfc;
  --error        : red;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif !important;
  color      : var(--text-gray-1);
  font-size  : 1rem;
  background : var(--body-bg) !important;
}

.flex-bw-center {
  display        : flex !important;
  justify-content: space-between;
  align-items    : center;
}

.link-default {
  color          : var(--text-gray-1);
  text-decoration: none;
  transition     : all 0.3s;

  &:hover {
    color: var(--green);
  }
}

.main-content {
  flex-grow       : 1;
  background-color: var(--white);
  margin          : 80px 15px 15px 15px;
}

.btn-default {
  color          : var(--white);
  cursor         : pointer;
  display        : inline-block;
  margin         : 10px;
  text-decoration: none;
  font-weight    : 600;
  border         : 1px solid var(--green);
  background     : var(--green);
  padding        : 6px 12px;
  transition     : all 0.3s;

  &:hover {
    background: var(--green-hover);
  }

  &--del {
    border-color: var(--text-gray-1);
    background  : none;
    color       : var(--text-gray-1);

    &:hover {
      background  : none;
      color       : var(--green);
      border-color: var(--green);
    }
  }
}

.flex-r-c {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
}

.text-small {
  font-size: 0.8rem !important;
}

.text-default {
  font-size: 1rem !important;
}

.input-default {
  padding      : 7px;
  border       : 1px solid var(--border-gray-1);
  border-radius: 0;
  width        : 100%;
  font-size    : 1rem;
  transition   : all 0.3s;

  &:focus,
  &:active,
  &:focus-visible,
  &:hover {
    border-color: var(--green);
    outline     : 0;
    box-shadow  : none;
  }

  &--error {
    border-color: var(--error) !important;
  }
}

.custom-list {
  border : 1px solid var(--border-gray-1);
  padding: 10px 15px !important;

  .custom-list {
    &__label {
      margin-left: 0 !important;

      >span {
        padding-left: 0;
      }
    }

    &__sublist {
      margin-left   : 35px;
      display       : flex;
      flex-direction: column;
    }
  }
}

.icon-active {
  color: var(--green);
}

.icon-inactive {
  color: var(--error);
}

.form-default {
  padding-top: 35px;

  .form-default {
    &__group {
      margin-bottom: 20px;
      padding      : 0 15px;
    }

    &__control {
      text-align : left;
      padding-top: 10px !important;

      label {
        padding-top: 7px;
        display    : inline-block;
      }

    }

    &__input-group {
      padding-top   : 7px !important;
      padding-bottom: 20px;
      position      : relative;
      display       : flex;
      flex-direction: column;

      .form-default {
        &__autocomplete {
          width     : 100%;
          max-height: 32px;

          .MuiInputBase-root {
            padding-top   : 0;
            padding-bottom: 0;
            border-radius : 0;

            &:hover {
              fieldset {
                border-color: var(--green) !important;
              }
            }

            input {
              height     : auto;
              padding    : 0;
              max-height : 32px;
              line-height: 32px;
            }

            fieldset {
              border    : 1px solid var(--border-gray-1) !important;
              transition: all 0.3s;

            }
          }
        }

        &__date {
          .MuiInputBase-root {
            border-radius: 0;

            &:hover {
              fieldset {
                border-color: var(--green);
              }
            }

            input {
              padding: 0 7px;
              height : 32px;
            }

            fieldset {

              transition: all 0.3s;
            }
          }
        }

        &__desc {
          margin    : 5px 0 0 0;
          font-size : calc(12rem/14);
          font-style: italic;
          color     : var(--text-gray-1);
        }

        &__error {
          color     : var(--error);
          font-size : 0.9rem;
          margin    : 5px 0 0;
          position  : absolute;
          bottom    : -3px;
          opacity   : 0;
          transition: opacity 0.3s;

          &.show {
            opacity: 1;
          }
        }

        &__icon {
          margin-right: 5px;
        }

        &__img-preview {
          img {
            max-height   : 160px;
            max-width    : 100%;
            display      : block;
            margin-bottom: 10px;
          }
        }
      }
    }

    &__bot-nav {
      border-top: 1px solid var(--border-gray-1);
      background: var(--bg-bot-form);
      padding   : 10px 20px;
    }
  }

  .custom-list {
    max-width: 100%;

  }
}


.wrapper_data-grid {
  height: calc(100vh - 155px);

  .wrapper_data-grid {
    &__header {
      font-size: 1rem;
    }

    &__img {
      max-width: 80%;
    }
  }
}

@media screen and (min-width: 600px) {
  .form-default {
    padding-top: 40px;

    .form-default {
      &__group {
        margin-bottom: 20px;
      }

      &__control {
        text-align : right;
        padding-top: 24px !important;
      }

      &__input-group {
        padding-top: 24px !important;
      }
    }
  }
}

@media screen and (min-width:1200px) {
  .form-default {
    .form-default {
      &__input-group {
        .form-default {

          &__autocomplete,
          &__date {
            width: 50%;
          }
        }
      }
    }

    .custom-list {
      width: 50%;
    }
  }

  .input-default {
    width: 50%;
  }
}

@keyframes side {
  0% {
    width: 0;
  }

  100% {
    width: 180px;
  }
}

@keyframes dropdown {
  0% {
    height: 0;
  }

  100% {
    height: auto;
  }
}