:root {
  --body-bg    : #eaebec;
  --green      : #497D3B;
  --white      : #fff;
  --text-gray-1: #4a4a4a;
  --bg-gray-1  : #eee;
  --yellow-1   : #ffcc40;
  --green-hover: #5b9f49;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif !important;
  color      : var(--text-gray-1);
  font-size  : 1rem;
  background : var(--body-bg) !important;
}

.flex-bw-center {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.link-default {
  color          : var(--text-gray-1);
  text-decoration: none;
  transition     : all 0.3s;

  &:hover {
    color: var(--green);
  }
}

.main-content {
  flex-grow       : 1;
  background-color: var(--white);
  margin          : 80px 15px 15px 15px;
}

.btn-default {
  color          : var(--white);
  display        : inline-block;
  margin         : 10px;
  text-decoration: none;
  font-weight    : 600;
  background     : var(--green);
  padding        : 6px 12px;
  transition     : all 0.3s;

  &:hover {
    background: var(--green-hover);
  }
}

.flex-r-c {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
}