.form-category {
  padding-top: 40px;

  .form-category {
    &__group {
      margin-bottom: 20px;
    }

    &__control {
      text-align: right;

      label {
        padding-top: 7px;
        display    : inline-block;
      }

    }

    &__input-group {
      padding-bottom: 20px;
      position      : relative;
      display       : flex;
      flex-direction: column;

      .form-category {
        &__input {}

        &__desc {
          margin    : 5px 0 0 0;
          font-size : calc(12rem/14);
          font-style: italic;
          color     : var(--text-gray-1);
        }

        &__error {
          color     : var(--error);
          font-size : 0.9rem;
          margin    : 5px 0 0;
          position  : absolute;
          bottom    : -3px;
          opacity   : 0;
          transition: opacity 0.3s;

          &.show {
            opacity: 1;
          }
        }

        &__icon {
          margin-right: 5px;
        }

        &__img-preview {
          img {
            max-height   : 160px;
            max-width    : 100%;
            display      : block;
            margin-bottom: 10px;
          }
        }
      }
    }

    &__bot-nav {
      border-top: 1px solid var(--border-gray-1);
      background: var(--bg-bot-form);
      padding   : 10px 20px;
    }
  }

  .custom-list {
    max-width: 50%;
  }
}